DATABASE_URL="postgresql://user:password@localhost:5432/arabic_wallet"
NEXT_PUBLIC_TELEGRAM_BOT_ID=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
JWT_SECRET="replace-me"
REDIS_URL="redis://localhost:6379"
WEB3_PROVIDER_URL_BNB=""
WEB3_PROVIDER_URL_POLYGON=""
WALLET_PROVIDER="privy"
